.pokemon-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
}

.pokemon-table th, .pokemon-table td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.pokemon-table th {
  background-color: #FF2300;
  color: #333;
  font-weight: 600;
}

.pokemon-table tr:nth-child(even) {
  background-color: rgb(84, 84, 84);
}

.pokemon-table tr:hover {
  background-color: #fff6d5;
  transition: 0.2s ease;
}
